.default-h2 {
    font-weight: 500;
    font-size: 2.25em;
    color: #333;
    font-family: 'Poppins';
    font-style: normal;
}

.default-p {
    font-weight: 500;
    font-size: 1em;
    color: #4F4F4F;
    font-family: 'Poppins';
    font-style: normal;
}

.edie {
    font-size: 2.25em;
    font-family: 'Heebo';
    font-style: normal;
}
