.first-header {
  width: 100%;
  padding: 42px 52px;
}

.first-header > nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-header > nav > ul {
  display: flex;
  gap: 42px;
  font-size: 1.5em;
  font-weight: 500;
}

.first-header > nav > ul > li > a {
  transition: color .2s;
}

.first-header > nav > ul > li > a::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  background-color: #2D9CDB;
  margin: 10px auto 0 auto;
  border-radius: 10px;
  transform: scale(0);
  transition: transform .2s;
}

.first-header > nav > ul > li > a:hover::after {
  transform: scale(1)
}

.first-header > nav > ul > li > a:hover {
  color: #2D9CDB;
}

.header-content {
  margin-top: 94px;
}

.header-content-div {
  padding-left: 225px;
  width: min(100%, 800px);
}

.header-content-div > h2 {
  color: #2D9CDB;
  font-size: 1.125em;
  margin-bottom: 20px;
}

.header-content-div > h1, .contact-section > h2 {
  font-size: 3em;
  line-height: 1.35em;
  font-weight: 500;
}

.header-content > img {
  width: 100%;
  border-radius: 1.125em;
  margin-top: 30px;
}

.contact-section {
  padding-left: 277px;
  width: min(100%, 650px);
}

.contact-section > p {
  font-size: 1.125em;
  margin: 42px 0;
  line-height: 1.2em;
}

.contact-section > h3 {
  color: #828282;
  font-size: 0.875em;
  padding-bottom: 9px;
}

.contact-section > form {
  padding: 4px;
  background-color: #F2F2F2;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 500;
  width: 100%;
}

.contact-section > form > input[type=submit] {
  padding: 11px 27px;
  background-color: #2D9CDB;
  color: #fff;
  font-size: 1.125em;
  border-radius: 12px;
  transition: .2s background-color;
}

.contact-section > form > input[type=submit]:hover {
  background-color: #288dc7;
}

.contact-section > form > input[type=email]::placeholder {
  color: #BDBDBD;
}

.contact-section > form > input[type=email] {
  padding-left: 17px;
  outline: none;
  width: 100%;
}

.offer-section {
  padding: 200px 165px;
}

.offer-section > h2 {
  font-size: 2.25em;
  font-weight: 500;
  width: min(100%, 400px);
  line-height: 1.3em;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 42px;
  gap: 34px;
}

.offer-card {
  padding: 46px 34px;
  border-radius: 24px;
  transition: box-shadow .2s;
}

.offer-card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.offer-card > span {
  display: block;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  border-radius: 16px;
  font-size: 2em;
}

.offer-card > h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 35px;
}

.offer-card > p {
  margin-top: 24px;
  margin-bottom: 30px;
  line-height: 1.3em;
}

.offer-card > a {
  padding: 9px 13px;
  background-color: #E0E0E0;
  border-radius: 12px;
  font-weight: 500;
  color: #828282;
  transition: .2s background-color, .2s color;
}

.red { background-color: #EB5757; }
.green { background-color: #27AE60; }
.blue { background-color: #2D9CDB; }

.offer-card:hover > a {
  background-color: #2D9CDB;
  color: #fff;
}

.offer-card > a:hover {
  background-color: #288dc7;
}
